
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476424867'); /* IE9*/
  src: url('iconfont.eot?t=1476424867#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476424867') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476424867') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.iconfont-folder:before { content: "\e205"; }
.iconfont-folder-open:before { content: "\e207"; }
.iconfont-save:before { content: "\e204"; }
.iconfont-plus:before { content: "\e208"; }
.iconfont-minus:before { content: "\e201"; }
.iconfont-pencil:before { content: "\e20b"; }
.iconfont-cut:before { content: "\e215"; }
.iconfont-search:before { content: "\e21b"; }
.iconfont-copy:before { content: "\e200"; }
.iconfont-filter:before { content: "\e21e"; }
.iconfont-clear:before { content: "\e241"; }
.iconfont-tag:before { content: "\e227"; }
.iconfont-tags:before { content: "\e22a"; }
.iconfont-flag:before { content: "\e22b"; }
.iconfont-bookmark:before { content: "\e220"; }
.iconfont-delete:before { content: "\e21c"; }
.iconfont-edit:before { content: "\e224"; }
.iconfont-help:before { content: "\e21a"; }
.iconfont-info:before { content: "\e231"; }
.iconfont-print:before { content: "\e228"; }
.iconfont-lamp:before { content: "\e22d"; }
.iconfont-share:before { content: "\e234"; }
.iconfont-paperclip:before { content: "\e233"; }
.iconfont-file:before { content: "\e21f"; }
.iconfont-book:before { content: "\e225"; }
.iconfont-mail:before { content: "\e221"; }
.iconfont-mail-open:before { content: "\e20c"; }
.iconfont-briefcase:before { content: "\e23a"; }
.iconfont-inbox:before { content: "\e22c"; }
.iconfont-news:before { content: "\e223"; }
.iconfont-notice:before { content: "\e211"; }
.iconfont-bugle:before { content: "\e219"; }
.iconfont-tasks:before { content: "\e226"; }
.iconfont-list-paper:before { content: "\e222"; }
.iconfont-cloud:before { content: "\e21d"; }
.iconfont-have-done:before { content: "\e218"; }
.iconfont-to-do:before { content: "\e217"; }
.iconfont-contract:before { content: "\e235"; }
.iconfont-seal:before { content: "\e23c"; }
.iconfont-ok-1:before { content: "\e239"; }
.iconfont-remove-1:before { content: "\e238"; }
.iconfont-saved:before { content: "\e236"; }
.iconfont-sort:before { content: "\e22f"; }
.iconfont-sort-to-high:before { content: "\e230"; }
.iconfont-sort-to-low:before { content: "\e22e"; }
.iconfont-indent-right:before { content: "\e216"; }
.iconfont-indent-left:before { content: "\e210"; }
.iconfont-font:before { content: "\e214"; }
.iconfont-bold:before { content: "\e213"; }
.iconfont-italic:before { content: "\e20e"; }
.iconfont-header:before { content: "\e20f"; }
.iconfont-font-size:before { content: "\e20d"; }
.iconfont-text-width:before { content: "\e212"; }
.iconfont-text-height:before { content: "\e209"; }
.iconfont-align-left:before { content: "\e20a"; }
.iconfont-align-right:before { content: "\e203"; }
.iconfont-align-center:before { content: "\e202"; }
.iconfont-align-justify:before { content: "\e206"; }
.iconfont-zip-bag:before { content: "\e232"; }
.iconfont-svg:before { content: "\e229"; }
.iconfont-word:before { content: "\e23f"; }
.iconfont-excel:before { content: "\e23e"; }
.iconfont-ppt:before { content: "\e240"; }
.iconfont-rar:before { content: "\e23b"; }
.iconfont-zip:before { content: "\e23d"; }
